---
import background from "../../assets/profile-background.svg";
import profilePicture from "../../assets/profile-picture.jpg";
import { Image } from "@astrojs/image/components";
import SectionHeader from "../SectionHeader.astro";
import Header from "../Header.astro";
---

<section
  id="about"
  class="mx-auto flex max-w-md flex-col items-center justify-center pt-3 lg:max-w-full lg:flex-row lg:justify-between lg:space-x-16 2xl:flex-row"
>
  <div class="md:max-w-md">
    <SectionHeader text="O mnie" />
    <Header text="Grażyna Wójcik" alignLeft={true} />
    <p class="text-justify text-sm leading-snug md:text-base">
      Aenean egestas faucibus lectus, non convallis lorem imperdiet iaculis. Nullam cursus libero sed interdum luctus.
      Nunc ante nulla, dictum in lacus non, finibus aliquam ante. Donec ac metus a tortor sodales tempus. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="relative mt-8 flex aspect-[1/0.8] w-full items-center justify-center md:max-w-lg 2xl:max-w-xl">
    <img class="absolute inset-0 -z-10 h-auto w-full lg:-left-5" src={background} alt="Tło do zdjęcia" />
    <Image
      class="rounded-full w-7/12"
      src={profilePicture}
      width={350}
      height={350}
      alt="Zdjęcie twarzy Grażyny Wójcik"
      format="webp"
    />
  </div>
</section>
