---
import { Image } from "astro:assets";
import backgroundImg from "../../assets/profile-background.svg";
import profilePicture from "../../assets/profile-picture.jpg";
import SectionHeader from "../SectionHeader.astro";
import Header from "../Header.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout
  id="about"
  class="flex max-w-md flex-col items-center justify-center pt-3 lg:flex-row lg:justify-between lg:gap-x-16 lg:pt-0"
>
  <div class="md:max-w-[30.5rem]">
    <SectionHeader text="O mnie" />
    <Header text="Lorem Ipsum" alignLeft={true} />
    <p class="text-justify text-sm leading-snug md:text-base">
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestiae quia, rem omnis ullam vero laudantium enim
      beatae vel quidem culpa asperiores cum ea excepturi magni, similique dicta aliquid atque consequatur odio?
      Voluptate exercitationem repellat laborum omnis ipsam, aspernatur saepe dolores sequi, corporis facilis quidem
      numquam. Praesentium alias ea molestias consequatur!
    </p>
  </div>
  <div class="relative mt-8 flex aspect-[1/0.8] w-full items-center justify-center md:max-w-lg 2xl:max-w-xl">
    <img class="absolute inset-0 -z-10 h-auto w-full" src={backgroundImg.src} alt="Tło do zdjęcia" />
    <div class="w-7/12 lg:translate-x-5">
      <Image
        class="rounded-full w-full h-full"
        src={profilePicture}
        width={350}
        height={350}
        alt="Alt"
      />
    </div>
  </div>
</SectionLayout>
