---
import background from "../../assets/profile-background.svg";
import profilePicture from "../../assets/profile-picture.jpg";
import { Picture } from "@astrojs/image/components";
import SectionHeader from "../SectionHeader.astro";
import Header from "../Header.astro";
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout
  id="about"
  class="flex max-w-md flex-col items-center justify-center pt-3 lg:flex-row lg:justify-between lg:gap-x-16 lg:pt-0"
>
  <div class="md:max-w-md">
    <SectionHeader text="O mnie" />
    <Header text="Grażyna Wójcik" alignLeft={true} />
    <p class="text-justify text-sm leading-snug md:text-base">
      Aenean egestas faucibus lectus, non convallis lorem imperdiet iaculis. Nullam cursus libero sed interdum luctus.
      Nunc ante nulla, dictum in lacus non, finibus aliquam ante. Donec ac metus a tortor sodales tempus. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="relative mt-8 flex aspect-[1/0.8] w-full items-center justify-center md:max-w-lg 2xl:max-w-xl">
    <img class="absolute inset-0 -z-10 h-auto w-full" src={background} alt="Tło do zdjęcia" loading="lazy" />
    <div class="w-7/12 lg:translate-x-5">
      <Picture
        class="rounded-full w-full h-full"
        src={profilePicture}
        widths={[240, 350]}
        sizes="(max-width: 1024px) 15rem, (min-width: 450px) 22rem"
        aspectRatio="1:1"
        formats={["webp", "avif"]}
        alt="Zdjęcie twarzy Grażyny Wójcik"
      />
    </div>
  </div>
</SectionLayout>
