---
import Header from "../Header.astro";
import { PhoneIcon } from "@heroicons/react/24/outline";
import backgroundImg from "../../assets/contact-background.svg";
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout id="contact" class="relative">
  <div class="mx-auto flex aspect-[1/0.8] max-w-sm flex-col items-center justify-center md:max-w-md">
    <Header text="Lorem Ipsum" />
    <p class="text-justify text-sm leading-snug md:text-base">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Repudiandae nesciunt quod, rem neque ipsa dolorem
      expedita, voluptates ipsam consectetur eos dicta maxime commodi iusto enim molestias.
    </p>
    <div class="mt-2 flex items-center text-base font-medium md:mt-4 md:text-lg">
      <PhoneIcon className="h-5 w-5 mr-2 stroke-2" />
      <span data-encrypted={btoa("(+48) 111 111 111")}></span>
    </div>
  </div>
  <img
    class="absolute top-1/2 left-1/2 -z-10 h-auto w-[125vw] max-w-lg -translate-y-1/2 -translate-x-1/2 sm:scale-100 md:max-w-xl"
    src={backgroundImg.src}
    alt="Alt"
  />
</SectionLayout>
