---
import { PhoneIcon } from "@heroicons/react/24/outline";
---

<div class="flex flex-col mt-6 max-w-md mx-auto lg:flex-row lg:max-w-full lg:items-center lg:justify-between">
  <div class="flex flex-col text-5xl font-display md:text-6xl lg:text-7xl">
    <h1>PRZYJAZNY</h1>
    <h1 class="tracking-special text-accent">LOGOPEDA</h1>
  </div>
  <div>
    <p class="mt-4 text-justify md:max-w-md lg:mt-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia est ornare aliquam bibendum. Donec cursus
      dapibus nisi quis laoreet.
    </p>
    <h2 class="mt-2 font-medium">Umów sie na wizytę</h2>
    <div class="flex font-medium items-center">
      <PhoneIcon className="h-5 w-5 mr-2 stroke-2" />
      <span>(+48) 111 111 111</span>
    </div>
  </div>
</div>
