---
import { PhoneIcon } from "@heroicons/react/24/outline";
import SectionLayout from "../../layouts/SectionLayout.astro";
---

<SectionLayout class="mt-6 lg:mt-20 flex max-w-md flex-col lg:flex-row lg:items-center lg:justify-between">
  <div class="flex flex-col font-display text-6xl max-[420px]:text-[14vw] lg:text-7xl">
    <h1>PRZYJAZNY</h1>
    <h1 class="tracking-special text-accent">LOGOPEDA</h1>
  </div>
  <div class="text-sm md:text-base">
    <p class="mt-4 text-justify leading-snug md:max-w-[30rem] lg:mt-0">
      Diagnoza i terapia mowy, dzieci i młodzieży ze spektrum autyzmu, afazji z indywidualnym podejściem do każdego
      przypadku. Możliwość terapii wzroku w gabinecie.
    </p>
    <h2 class="mt-2 font-medium">Umów sie na wizytę</h2>
    <div class="flex items-center font-medium">
      <PhoneIcon className="h-5 w-5 mr-2 stroke-2" />
      <span data-encrypted={btoa("(+48) 604 300 711")}></span>
    </div>
  </div>
</SectionLayout>
