---
import { PhoneIcon } from "@heroicons/react/24/outline";
---

<section class="mx-auto mt-6 flex max-w-md flex-col lg:max-w-full lg:flex-row lg:items-center lg:justify-between">
  <div class="flex flex-col text-center font-display text-5xl sm:text-left sm:text-6xl lg:text-7xl">
    <h1>PRZYJAZNY</h1>
    <h1 class="tracking-special text-accent">LOGOPEDA</h1>
  </div>
  <div class="text-sm md:text-base">
    <p class="mt-4 text-justify leading-snug md:max-w-md lg:mt-0">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin lacinia est ornare aliquam bibendum. Donec cursus
      dapibus nisi quis laoreet.
    </p>
    <h2 class="mt-2 text-center font-medium sm:text-left">Umów sie na wizytę</h2>
    <div class="flex items-center justify-center font-medium sm:justify-start">
      <PhoneIcon className="h-5 w-5 mr-2 stroke-2" />
      <span data-encrypted={btoa("(+48) 111 111 111")}></span>
    </div>
  </div>
</section>
