<section>
  <div class="mx-auto flex w-screen max-w-[2000px] justify-center gap-x-8 lg:gap-x-16 3xl:justify-evenly 3xl:gap-x-0">
    <div class="aspect-[9/10] w-44 flex-none rounded-xl bg-gray-400 lg:w-72"></div>
    <div class="aspect-[9/10] w-44 flex-none rounded-xl bg-red-400 lg:w-72"></div>
    <div class="aspect-[9/10] w-44 flex-none rounded-xl bg-blue-400 lg:w-72"></div>
    <div class="aspect-[9/10] w-44 flex-none rounded-xl bg-orange-400 lg:w-72"></div>
    <div class="aspect-[9/10] w-44 flex-none rounded-xl bg-violet-400 lg:w-72"></div>
  </div>
</section>
