---
import SectionLayout from "../../layouts/SectionLayout.astro";
import Card from "../Card.astro";
import Header from "../Header.astro";
import SectionHeader from "../SectionHeader.astro";

const cards = [
  {
    name: "Lorem Ipsum",
    description: "Vivamus tempor, enim a pretium gravida, quam urna ultrices nulla, ut vehicula nisi nulla et lectus.",
    img: "",
  },
  {
    name: "Lorem Ipsum",
    description: "Vivamus tempor, enim a pretium gravida, quam urna ultrices nulla, ut vehicula nisi nulla et lectus.",
    img: "",
  },
  {
    name: "Lorem Ipsum",
    description: "Vivamus tempor, enim a pretium gravida, quam urna ultrices nulla, ut vehicula nisi nulla et lectus.",
    img: "",
  },
  {
    name: "Lorem Ipsum",
    description: "Vivamus tempor, enim a pretium gravida, quam urna ultrices nulla, ut vehicula nisi nulla et lectus.",
    img: "",
  },
];
---

<SectionLayout id="therapy" class="flex flex-col items-center justify-center pt-3">
  <div class="w-full max-w-md md:max-w-full">
    <SectionHeader text="Terapia" />
    <Header text="Lorem Ipsum" />
    <p class="text-justify text-sm leading-snug md:mx-auto md:max-w-2xl md:text-base">
      Aenean egestas faucibus lectus, non convallis lorem imperdiet iaculis. Nullam cursus libero sed interdum luctus.
      Nunc ante nulla, dictum in lacus non, finibus aliquam ante. Donec ac metus a tortor sodales tempus. Lorem ipsum
      dolor sit amet, consectetur adipiscing elit.
    </p>
  </div>
  <div class="mt-8 grid grid-cols-1 gap-y-4 md:grid-cols-2 md:gap-x-16 lg:gap-x-56">
    {cards.map((content) => <Card content={content} />)}
  </div>
</SectionLayout>
