---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro";
import About from "../components/About.astro";
---

<Layout>
  <main class="px-3 md:px-5 xl:px-40 2xl:px-64">
    <Hero />
    <About />
  </main>
</Layout>
