---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Therapy from "../components/sections/Therapy.astro";
---

<Layout>
  <main class="px-3 md:px-5 xl:px-40 2xl:px-64 space-y-12">
    <Hero />
    <About />
    <Therapy />
  </main>
</Layout>
