---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/sections/Hero.astro";
import About from "../components/sections/About.astro";
import Therapy from "../components/sections/Therapy.astro";
import Contact from "../components/sections/Contact.astro";
import Images from "../components/sections/Images.astro";
---

<Layout>
  <main class="space-y-10 overflow-x-clip lg:space-y-20">
    <Hero />
    <Images />
    <About />
    <Therapy />
    <Contact />
  </main>
</Layout>
