---
import type { ImageMetadata } from 'astro';

interface Props {
  content: {
    name: string;
    description: string;
    img: ImageMetadata;
    alt: string;
  };
}

const {
  content: { name, description, img, alt },
} = Astro.props;
---

<div class="flex w-full max-w-sm flex-col items-center justify-center lg:flex-row">
  <img
    class="object-fit mb-2 w-12 md:self-start lg:mb-0 lg:mr-8 lg:w-16 lg:self-center"
    src={img.src}
    alt={alt}
    loading="lazy"
  />
  <div class="text-sm">
    <h3 class="mb-1 text-center text-lg font-medium md:mb-0 md:text-left">{name}</h3>
    <p class="text-justify" set:html={description} />
  </div>
</div>
