---
export interface Props {
  content: {
    name: string;
    description: string;
    img: string;
  };
}

const {
  content: { name, description, img },
} = Astro.props;
---

<div class="flex max-w-sm flex-col items-center justify-center md:flex-row">
  <div class="mb-2 aspect-square h-16 w-16 rounded-full bg-gray-300 md:mb-0 md:mr-8"></div>
  <div>
    <h3 class="text-center text-lg font-medium md:text-left">{name}</h3>
    <p class="text-justify text-sm">
      {description}
    </p>
  </div>
</div>
