---
import { Image } from 'astro:assets'
import logoImg from "../assets/logo.png";

interface Props {
  accented?: boolean;
  loading?: "lazy" | "eager";
}

const { accented, loading } = Astro.props;
---

<div class="flex items-center">
  <Image
    width={62}
    height={32}
    src={logoImg}
    loading={loading}
    alt="Logo"
  />
  <div class="ml-2 flex flex-col font-display leading-4">
    <span class={`${accented ? "text-accent" : ""}`}>LOREM</span>
    <span class="tracking-special">IPSUM</span>
  </div>
</div>
