---
import "@fontsource/titan-one";
import "@fontsource/poppins";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/500.css";
import "../styles/base.css";
import Logo from "../components/Logo";
import Nav from "../components/Nav";
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Przyjazny Logopeda</title>
  </head>
  <body>
    <Nav client:media="(max-width: 1024px)" />
    <slot />
    <footer class="mt-12 flex h-16 items-center justify-between px-5 sm:justify-center">
      <Logo accented={true} />
      <p class="ml-6 text-sm font-light leading-tight">
        oligofrenopedagog
        <br />
        mgr Grażyna Wójcik
      </p>
    </footer>
  </body>
</html>

<script>
  const elements = document.querySelectorAll("span[data-encrypted]");

  elements.forEach((element) => {
    element.textContent = atob(element.getAttribute("data-encrypted") ?? "");
    element.removeAttribute("data-encrypted");
  });
</script>
