---
import "@fontsource/titan-one";
import "@fontsource/poppins";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/500.css";
import "../styles/base.css";
import Logo from "../components/Logo.astro";
import Navigation from "../components/Navigation";
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content="Przejdź na stronę po więcej informacji | Przyjazny Logopeda" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image" content="/og-image.png" />
    <meta property="og:image:width" content="1200" />
    <meta property="og:image:height" content="630" />
    <meta property="og:locale" content="pl_PL" />
    <meta
      property="og:description"
      content="Przyjazny Logopeda - Grażyna Wójcik - oligofrenopedagog z 30-letnim stażem pracy. Diagnoza i terapia mowy, dzieci i młodzieży ze spektrum autyzmu, afazji, osób po udarach. W swojej pracy podchodzi do każdego przypadku indywidualnie oraz wykorzystuje nowatorskie metody m.in. metodę krakowską."
    />
    <meta name="twitter:card" content="summary_large_image" />
    <title>Przyjazny Logopeda</title>
    <meta
      name="description"
      content="Przyjazny Logopeda - Grażyna Wójcik - oligofrenopedagog z 30-letnim stażem pracy. Diagnoza, terapia mowy, terapia dzieci i młodzieży ze spektrum autyzmu, terapia afazji, terapia osób po udarach. Możliwość terapii wzroku ze specjalistą tyflopedagogiem. Gabinet Radom."
    />
  </head>
  <body>
    <header class="mx-auto flex w-full items-center justify-between py-4 px-5 lg:max-w-6xl xl:px-0">
      <a href="/"><Logo loading="eager" /></a>
      <Navigation client:visible />
    </header>
    <slot />
    <footer
      class="mt-6 flex items-center justify-between gap-y-3 px-5 py-4 max-[390px]:flex-col-reverse sm:justify-center lg:mt-12"
    >
      <Logo accented={true} />
      <p class="ml-6 text-sm font-light leading-tight">
        oligofrenopedagog
        <br />
        mgr Grażyna Wójcik
      </p>
    </footer>
  </body>
</html>

<script>
  const elements = document.querySelectorAll("span[data-encrypted]");

  elements.forEach((element) => {
    element.textContent = atob(element.getAttribute("data-encrypted") ?? "");
    element.removeAttribute("data-encrypted");
  });
</script>
