---
import "@fontsource/titan-one";
import "@fontsource/poppins";
import "@fontsource/poppins/300.css";
import "@fontsource/poppins/500.css";
import "../styles/base.css";
import Logo from "../components/Logo";
import Nav from "../components/Nav";
---

<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Przyjazny Logopeda</title>
  </head>
  <body>
    <Nav client:media="(max-width: 1024px)" />
    <slot />
    <footer class="px-3 h-16 flex items-center justify-center">
      <Logo isAccented={true} />
      <p class="font-light leading-tight ml-6 text-sm">
        oligofrenopedagog
        <br />
        mgr Grażyna Wójcik
      </p>
    </footer>
  </body>
</html>
